<%= form_tag(discogs_search_albums_path, :method => "get") do %>


	<% label_tag(:q, "Search") %>
        <%= text_field_tag :q %>
        <p>Search for album, artist, or song.</p>
        <%= submit_tag "Search", :class => "btn btn-info btn-large" %>
<% end %>



