<% if params[:discogs_id] %>

<h2>Information for album <%= params[:discogs_id] %></h2>
<% else %>
<h2>No album ID!</h2>
<% end %>
<h3>You'd be able to view a whole album record from discogs here, presumably</h3>
