
<div class="row">
  <div class="span6">
    <h2>Albums</h2>
    <ul>
      <% @albums.each do |album| %>
      <li>
        <%= link_to album.title, album %> by <%= album.artist %>
      </li>
      <li>
        <%= link_to "New Album", new_album_path %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <p class="text-info">Things about albums should go here or something.</p>
  </div>
  <
</div>
