
<div class="row">
  <div class="span6">
    <h2>Albums</h2>
    <%= albumList %>
  </div>
  <div class="span6">
    <p class="text-info">Things about albums should go here or something.</p>
  </div>
</div>
