

#album, .comment {
    margin: 15px 0 15px 0;
    padding: 15px;
    background: #eaeaea;
    border: 1px solid #e0e0e0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#album a {
    color: #67A300;
}

#album menu {
    font-size: 75%;
}

menu, #album .state, .states {
    float: right;
}

#album section {
    clear: both;
}

.state {
    display: inline;
    width: 4em;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
    font-size: 80%;
    padding: 5px;
}

#album #tags {
    margin-top: 20px;
}

#album .tag {
    background: #232323;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: white;
    padding: 8px;
}

#album .tag a {
    color: white;
}

#album .tag .delete {
    font-size: 125%;
    text-decoration: none;
}
#author {
    font: 11px;
    color: #666666
}