
<div class="row">
  <div class="span6">
    <h2>Welcome to Celluloid!</h2>
    <p>In the dark future, there is only war.</p>
    <%= image_tag 'images/celluloid.png',  :size => '200x200', :class => 'img-circle'  %>
  </div>
  <div class="span6">
    <p>Awesome text about an album should go here.</p>
  </div>
</div>
