
<div class="row">
  <div class="span6">
    <h2>Welcome to Celluloid!</h2>
    <%= image_tag 'celluloid.png',  :size => '200x200', :class => 'img-circle'  %>
  </div>
  <div class="span6">
    <h4>An album one of our users owns!</h4>
    <% random_album = getRandomAlbum %>
    <p><strong><%= link_to random_album[:title], album_path(random_album) %></strong> by <strong><%= random_album[:artists].first["name"] %></strong></p>
    <p>Owned by <%= commaListOfUsersFromAlbum(random_album.users) %></p>


  </div>
</div>
