
<div class="row">
  <div class="span6">
    <h2>Welcome to Celluloid!</h2>
    <p>In the dark future, there is only war.</p>
    <img src="images/celluloid.png" class="img-circle" alt="Doop de derp" width="200" height="200"/>
  </div>
  <div class="span6">
    <p>Awesome text about an album should go here.</p>
  </div>
</div>
